.swiper-wrapper {
    justify-content: left;
    align-items: flex-start;
}
.swiper-slide {
    justify-content: left;
}
h3.titleName{
    font-weight: bold;
    font-size: 36px;
    color: darkblue;
}
h3.titleJob{
    color: darkblue;
    font-style: italic;
    font-size: 26px;
}
.card2 .subtitle,
.card3 .subtitle{
    color: darkblue;
    font-weight: bold;
}
h3.subtitle{
    font-size: 26px;
    color: darkblue;
    font-weight: bold;
}
.sectionContent{
    margin-bottom: 30px;
}
p {
    font-size: 24px;
}
.swiper-slide {
    padding-left: 4px;
    width: 46%;
}
#main {
    margin-left: 60px;
}
